
<h1 class="animated fadeIn fast">Comic App</h1>
<hr>
<p class="animated fadeIn">

      Superman. Es el gran protagonista de principio hasta la disolución en JLA 232. Participa como ex-miembro en JLA 237 al 240 y en 250.
      Batman. Su protagonismo es casi constante, con raras ausencias. Renuncia en JLA 216 y participa como ex-miembro en JLA 240 y 250 al 255.
      Wonder Woman (Mujer Maravilla). Participa de todas las aventuras hasta JLA 31. Desde entonces continúa con buen protagonismo hasta JLA 66. En ese mes, Wonder Woman pierde sus poderes y en JLA 69 confirma su desvinculación. Luego de recuperar sus poderes participa como ex-miembro en JLA 100. Se vuelve a unir al grupo en JLA 128, hasta JLA 232 cuando se disuelve el grupo en JLA 232.
      Flash. Mantiene un buen protagonismo desde el principio hasta la disolución en JLA 232. Participa como ex-miembro en JLA 237 al 240.
      Green Lantern (Linterna Verde). Es miembro fundador, pero no participa en una aventura previa al origen de la Liga (contada en JLA 144). Participa constantemente hasta JLA 33. Luego mantiene un buen protagonismo hasta que renuncia al Green Lantern Corp. Su última aventura con la liga es en JLA 224. Luego de reasumir como Green Lantern, participa como ex-miembro en JLA 250.
      Aquaman. Aparece constantemente hasta JLA 24. Desde entonces su participación disminuye. De JLA 69 al 85 simplemente desaparece, incluso de aventuras donde participa la Liga en pleno. Una segunda desaparición sin explicación se da desde JLA 162 al 169, y del 171 al 176. En 233 estabiliza su participación hasta JLA 244, cuando renuncia.
      Martian Manhunter (Detective Marciano). Tuvo una participación constante hasta JLA 24. Desde entonces hasta JLA 61 sus apariciones fueron reducidas. A Partir de JLA 62 simplemente desaparece. En JLA 71 se le hace aparecer para explicar su larga ausencia y anunciar su retiro. Tiene algunas participaciones como ex-miembro en JLA 100, 177, 178 y 200. Vuelve a unirse en JLA 228, con muy buena participación hasta el final. Luego de la disolución de la Liga, continúa con el nuevo grupo.

</p>
